<div class="tab-pane fade" id="T_carry_info">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <ul>
        <li>
          <%= t('delivery_info_one') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('delivery_info_two') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('delivery_info_three') %>
        </li>
        <li style="padding-top:10px;"> 
          <%= t('delivery_info_four') %>
        </li>
        <li style="padding-top:10px;"> 
          <%= t('delivery_info_five') %>
          <br>
          <%= t('delivery_info_five_one') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('delivery_info_six') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('delivery_info_seven') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('delivery_info_eight') %>
          <br>
          <%= t('delivery_info_eight_one') %>
        </li>
      </ul>
    </div>
  </div>
</div>
