<h4><span><a href="/box/<%= @item.box.path %>"><%= @item.box.display_name %></a> / <%= @item.display_name %></span></h4>

<div class="col-md-5">
  <div class="product_img">
    <img src="<%= @item.logo_path %>" class="img-responsive img-center" width="350" height="350">
  </div>
</div>

<div class="col-md-7 product_info">
  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <label>제품명</label>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= @item.display_name %></p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <label>정상가</label>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= number_with_delimiter(@item.original_price) %>원</p>
    </div>
  </div>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <label>판매가</label>
    </div>
    <div class="col-xs-8 col-md-9">
      <p style="font-weight:bold; font-size:15px;"><%= number_with_delimiter(@item.sale_price ) %>원</p>
    </div>
  </div>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <label>적립금</label>
    </div>
    <div class="col-xs-8 col-md-9">
      <p style="font-weight:bold; font-size:15px;"><%= number_with_delimiter(@item.sale_price/100 ) %>원</p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <label>배송비</label>
    </div>
    <div class="col-xs-8 col-md-9">
      <p>하단 배송안내 참고</p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <label>남은수량</label>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= number_with_delimiter(20) %>개</p>
    </div>
    <div class="col-xs-4 col-md-3">
      <label>구매수량</label>
    </div>
    <div class="col-xs-8 col-md-9">
      <input id="item_detail_quantity" type="number" style="width:60px;" min="1" max="1000"  value="1" data-id="<%=@item.id%>">
    </div>
  </div>

  <div style="height:20px;"></div>

  <div class="row mar-left mar-right">
    <div class="col-xs-12 col-md-12  price_wrap">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <label class="price_1">주문금액</label>
        </div>
        <div class="col-xs-8 col-md-9 price_detail">
          <p class="price_2" ><%= number_with_delimiter(@item.sale_price) -%></p>
          <p class="price_3" >VAT 포함</p>
        </div>
      </div>
    </div>
  </div>

  <div style="height:20px;"></div>

  <div class="row mar-left mar-right text-right">
      <button type="submit" id="add_to_cart" class="btn btn-default btn btn-width">장바구니 담기</button>&nbsp;&nbsp;
      <button type="submit" id="purchase" class="btn btn-danger btn btn-width">구매하기</button>
  </div>
</div>
