<h4><span class="product_link_list"><a href="/box/<%= @item.box.path %>"><%= @item.box.display_name %></a> / <%= @item.display_name %></span></h4>

<div class="col-md-5">
  <div class="product_img">
    <img src="<%= BASE_ITEM_IMAGE_LOCATION -%>/<%= @item.box.path%>/<%= @item.path %>/<%= @item.path%>.jpg" class="img-responsive img-center" width="350" height="350">
  </div>
</div>

<div class="col-md-7 product_info">
  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_name') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= @item.display_name %></p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_original_price') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= number_with_delimiter(@item.original_price)-%></p>
    </div>
  </div>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_sale_price') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p style="font-weight:bold; font-size:15px;"><%= number_with_delimiter(@item.sale_price) -%>
      </p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_delivery_charge') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= t('product_info_delivery_charge_footer') %></p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_quantity') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= number_with_delimiter(20) %> <%= t('order_unit') %></p>
    </div>
  </div>
  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_purchasing_quantity') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <input id="item_detail_quantity" type="number" style="width:60px;" min="1" max="5" value="1" data-id="<%=@item.id%>">
    </div>
  </div>

  <% if @item.options.size > 0 %>
  <hr>
    <% @item.options.each do |o| %>
    <div class="row mar-left">
      <div class="col-xs-4 col-md-3">
        <p><%= o.title %></p>
      </div>
      <div class="col-xs-8 col-md-9">
        <% if o.option_type == 1 %>
        <select name="sel_option" id="sel_option" data-option-id="<%= o.id-%>" data-option-type="<%= o.option_type -%>" class="form-control input-sm select_option_box option_items">
            <option value="option" value="-1" data-price="0">SELECT</option>
            <% o.option_items.each do |i| %>
              <option value="<%= i.id -%>" data-price="<%= i.price_change -%>"><%= i.name %></option>
            <% end %>
        </select>
        <% else %>
        <input class="form-control input-sm option_items" data-option-id="<%= o.id -%>" data-option-type="<%= o.option_type -%>" type="text" placeholder="<%= o.title %>">
        <% end %>
      </div>
    </div>
    <div style="height:10px;"></div>
    <% end %>
  <% end %>

  
  <div style="height:20px;"></div>

  <div class="row mar-left mar-right">
    <div class="col-xs-12 col-md-12  price_wrap">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <label class="price_1"><%= t('product_info_sum') %></label>
        </div>
        <div class="col-xs-8 col-md-9 price_detail">
          <p class="price_2" id="total_price" data-original-price="<%=@item.sale_price%>"><%= number_with_delimiter(@item.sale_price) -%>
          </p>
          <p class="price_3" ><%= t('product_info_sum_vat') %></p>
        </div>
      </div>
    </div>
  </div>

  <div style="height:20px;"></div>

  <div class="row mar-left mar-right text-right">
      <button type="submit" id="add_to_cart" class="btn btn-default btn btn-width-cart"><%= t('product_info_basket') %></button>&nbsp;&nbsp;
      <button type="submit" id="purchase" class="btn btn-danger btn btn-width"><%= t('product_info_billing') %></button>
  </div>
</div>
