<h4><span class="product_link_list"><a href="/box/<%= @item.box.path %>"><%= @item.box.display_name %></a> / <%= @item.display_name %></span></h4>

<div class="col-md-5">
  <div class="product_img">
    <img src="<%= BASE_ITEM_IMAGE_LOCATION -%>/<%= @item.box.path%>/<%= @item.path %>/<%= @item.path%>.jpg" class="img-responsive img-center" width="350" height="350">
  </div>
</div>

<div class="col-md-7 product_info">
  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_name') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= @item.display_name %></p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_original_price') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= Order.change_currency(@item.original_price)-%></p>
    </div>
  </div>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_sale_price') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p style="font-weight:bold; font-size:15px;"><%= Order.change_currency(@item.sale_price) -%>
      </p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_delivery_charge') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= t('product_info_delivery_charge_footer') %></p>
    </div>
  </div>
  <hr>

  <div class="row mar-left">
    <% if @item.limited %>
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_quantity') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <p><%= number_with_delimiter(@item.quantity) %> <%= t('order_unit') %></p>
    </div>
    <% end %>
  </div>

  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('product_info_purchasing_quantity') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <input id="item_detail_quantity" type="number" style="width:60px;" value="1" data-id="<%=@item.id%>">
    </div>
  </div>

  <% limit = if @item.limited then [@item.buy_limit, @item.quantity].min else @item.buy_limit end %>
  <script>
  $(function(){
    $("#item_detail_quantity").change(function(event){
      $(this).val(parseInt($(this).val()));
      if (parseInt($(this).val()) > <%= limit %>){
        $(this).val(<%= limit %>);
        recalculate();
      }
    });
  })
  </script>

  <% if @item.options.size > 0 %>
  <hr>
    <% @item.options.each do |o| %>
    <div class="row mar-left">
      <div class="col-xs-4 col-md-3">
        <p><%= o.title %></p>
      </div>
      <div class="col-xs-8 col-md-9">
        <% if o.option_type == 1 %>
        <select data-option-id="<%= o.id-%>" data-option-type="<%= o.option_type -%>" class="form-control input-sm select_option_box option_items">
          <% o.option_items.each do |i| %>
            <% price_symbol = if i.price_change >= 0 then "+" else "-" end %>
            <% price_change = Order.change_currency(i.price_change).gsub(/[+-]/, "").gsub(")","").gsub("(", "/ #{price_symbol}") %>
            <% price_change = " (#{price_symbol} #{price_change})" %>
            <% remaining_quantity = " / #{t('remaining_quantity')} : #{i.quantity}" %>

            <% price_change = "" if i.price_change == 0 %>
            <% remaining_quantity = "" if i.limited == false %>

            <option value="<%= i.id -%>" data-price="<%= i.price_change -%>"><%= i.name %><%= price_change -%><%= remaining_quantity -%></option>

          <% end %>
        </select>
        <% else %>
        <input class="form-control input-sm option_items" id="item_option_<%= o.id-%>" data-option-id="<%= o.id -%>" data-option-type="<%= o.option_type -%>" type="text" maxlength="<%= o.max_length -%>" placeholder="<%= o.title %>">
          <% if o.english_only %>
            <script type="text/javascript">
            $('#item_option_<%= o.id -%>').keyup(function(event){
              $(this).val($(this).val().replace(/[^A-Za-z\s]/g, ''));
            });
            </script>
          <% end %>
        <% end %>
      </div>
    </div>
    <div style="height:10px;"></div>
    <% end %>
  <% end %>
  
  <% if @item.periodic %>
  <hr>
  <div class="row mar-left">
    <div class="col-xs-4 col-md-3">
      <p><%= t('periodic_purchase') %></p>
    </div>
    <div class="col-xs-8 col-md-9">
      <select class="form-control input-sm" id="periodic_option">
      <% [1, 3, 6, 12].each do |x| %>
          <option value="<%= x -%>"><%= t("periodoc_#{x}month")-%></option>
      <% end %>
      </select>
    </div>
  </div>
  <% end %>
  
  <div style="height:20px;"></div>

  <div class="row mar-left mar-right">
    <div class="col-xs-12 col-md-12  price_wrap">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <label class="price_1"><%= t('product_info_sum') %></label>
        </div>
        <div class="col-xs-8 col-md-9 price_detail">
          <p class="price_2" id="total_price" data-original-price="<%=@item.sale_price%>"></p>
          <p class="price_3" ><%= t('product_info_sum_vat') %></p>
        </div>
      </div>
    </div>
  </div>

  <div style="height:20px;"></div>

  <div class="row mar-left mar-right text-right">
      <button type="submit" id="add_to_cart" class="btn btn-default btn btn-width-cart"><%= t('product_info_basket') %></button>&nbsp;&nbsp;
      <% if (@item.quantity < 1) and (@item.limited) %>
        <button type="submit" class="btn btn-warning btn btn-width"><%= t('sold_out') %></button>
      <% else %>
        <button type="submit" id="purchase" class="btn btn-danger btn btn-width"><%= t('product_info_billing') %></button>
      <% end %>
  </div>
</div>
<script type="text/javascript">
$(function(){
  recalculate();
});
</script>
