<div class="tab-pane fade" id="T_info">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <ul class="refund_ul">
        <li> 
          <label><%= t('refund_info_one') %></label>
        </li>
        <li >
          <label><%= t('refund_info_two') %></label>
          <br>
          <p>
            <%= t('refund_info_two_one') %>
          </p>
        </li>
        <li>
          <label><%= t('refund_info_three') %></label>
          <br>
          <p><%= t('refund_info_three_one') %></p>
        </li>
        <li>
          <label><%= t('refund_info_four') %></label>
          <br>
          <p>
            <%= t('refund_info_four_one') %>
            <br>
            <%= t('refund_info_four_two') %>
            <br><br>
            <%= t('refund_info_four_three') %>
            <br><br>
            <%= t('refund_info_four_four') %>
            <br>
          </p>
        </li>
        <li>
          <label><%= t('refund_info_five') %></label>
          <p>
            <%= t('refund_info_five_one') %>
            <br><br>
            <%= t('refund_info_five_two') %>
            <br><br>
            <%= t('refund_info_five_three') %>
            <br><br>
            <%= t('refund_info_five_four') %>
            <br><br>
            <%= t('refund_info_five_five') %>
            <br><br>
            <%= t('refund_info_five_six') %>
            <br><br>
            <%= t('refund_info_five_seven') %>
            <br><br>
            <%= t('refund_info_five_eight') %>
            <br><br>
            <%= t('refund_info_five_nine') %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
