<div class="tab-pane fade" id="T_info">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <ul>
        <li> 
          <%= t('refund_info_one') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('refund_info_two') %>
          <br>
          <%= t('refund_info_two_one') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('refund_info_three') %>
          <br>
          <%= t('refund_info_three_one') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('refund_info_four') %>
          <br>
          <%= t('refund_info_four_one') %>
          <br>
          <%= t('refund_info_four_two') %>
          <br><br>
          <%= t('refund_info_four_three') %>
          <br>
          <%= t('refund_info_four_four') %>
          <br><br>
          <%= t('refund_info_four_five') %>
        </li>
        <li style="padding-top:10px;">
          <%= t('refund_info_five') %>
          <br><br>
          <%= t('refund_info_five_one') %>
          <br>
          <%= t('refund_info_five_two') %>
          <br>
          <%= t('refund_info_five_three') %>
          <br>
          <%= t('refund_info_five_four') %>
          <br>
          <%= t('refund_info_five_five') %>
          <br>
          <%= t('refund_info_five_six') %>
          <br>
          <%= t('refund_info_five_seven') %>
          <br>
          <%= t('refund_info_five_eight') %>
          <br>
          <%= t('refund_info_five_nine') %>
        </li>
      </ul>
    </div>
  </div>
</div>
