<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row product_box" >
        <%= render :partial => "product_info" %>
      </div>
    </div>
  </div>

  <div style="height:40px;"></div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10" >
      <div class="row" style="margin:1px;">
        <%= render :partial => 'foot_navi' %>
        <div id="myTabContent" class="tab-content foot_info_box">
          <%= render :partial => 'product' %>
          <%= render :partial => 'delivery' %>
          <%= render :partial => 'refund' %>
        </div>
      </div>
    </div>
  </div>
  <div style="position: fixed; bottom:20px; right: 20px;">
    <span id="go_top" onclick="go_top();"><%= image_tag "top.png" %></span>
  </div>
</div>
