<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row product_box" >
        <%= render :partial => "product_info" %>
      </div>
    </div>
  </div>

  <div style="height:40px;"></div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10" >
      <div class="row" style="margin:1px;">
        <%= render :partial => 'foot_navi' %>
        <div style="height:40px;"></div>
        <div id="myTabContent" class="tab-content">
          <%= render :partial => 'product' %>
          <%= render :partial => 'delivery' %>
          <%= render :partial => 'billing' %>
          <%= render :partial => 'refund' %>
        </div>
      </div>
    </div>
  </div>
</div>
