<h1><%=t('menu_reset_password')%></h1>

<p>
  <%=@user.email%>, <br>
  <%=t('reset_password_mail_content')%><br>
  <a href="<%=renew_password_url(@user.reset_password_token)%>">
    <%=t('reset_password_mail_link')%>
  </a>
</p>
