<body>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align: center;">
    <tr>
      <td align="center" valign="top" bgcolor="ECECEC">
        <table width="600" border="0" cellpadding="0" style="padding-bottom:30px; border: none;">
          <tr>
            <td>
              <div style="height:100px; padding-top:10px;">
                <a href="http://www.oppabox.com" target="_blank"><img src="http://localhost:3000/images/mail/top_white.png" style="-moz-box-shadow: 0px 1.5px 1.3px #b4b4b4; -webkit-box-shadow: 0px 1.5px 1/3px #b4b4b4; box-shadow: 0px 1.5px 1.3px #b4b4b4;"></a>
              </div>
            </td>
          </tr>
          <tr>
            <td align="center" bgcolor="ffffff" style="padding-left:20px; padding-right:20px; -moz-box-shadow: 0px 1.5px 1.3px #b4b4b4; -webkit-box-shadow: 0px 1.5px 1/3px #b4b4b4; box-shadow: 0px 1.5px 1.3px #b4b4b4;">
              <h3 style="font-size: 26px;"><%=t('paid_thanks')%></h3>
              <div id="hr_line" style="height:2px; border-top: 1px solid #b4b4b4"></div>
              <br>
              <p style="text-align: left"><%=t('paid_datetime')%> : <span><%= @purchase.approval_datetime %></span></p>
              <p style="text-align: left"><%=t('order_number')%> : <%=@purchase.reference_number%></p>
              <br>
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align: center">
                <thead>
                  <tr style="border-bottom: 2px solid #dddddd; background-color: #f5f5f5;">
                    <th style="padding: 8px"><%=t('item_display_name')%></th>
                    <th><%=t('carry_price')%></th>
                    <th><%=t('carry_quantity')%></th>
                    <th><%=t('carry_total_price')%></th>
                    <th><%=t('shipping')%></th>
                    <th><%=t('paid_sum')%></th>
                  </tr>
                </thead>
                <tbody>
                  <% OrderGroup.grouping(@purchase.orders.valid).each_with_index do |order_group, index|%>
                  <% cnt = order_group.orders.length %>
                  <% order_group.orders.each_with_index do |order, sub_idx| %>
                  <tr>
                    <% periodic = if order.item.periodic then "(" + t("periodoc_#{order.order_periodic}month") + ")" else nil end %>
                    <% options = Array.new(1){periodic} %>
                    <% order.order_option_items.each do |x| %>
                    <% options << x.option_item.name if  x.option.option_type == 1 %>
                    <% options << x.option_text if  x.option.option_type == 2 %>
                    <% end %>
                    <% options.compact! %>

                    <td style="padding: 8px; border-top: 1px solid #dddddd">
                      <span style="color: #000; font-weight: bold"><%= order.item.display_name %></span>&nbsp;<span style="font-size: 11px"><%= options.join(", ") %></span>
                    </td>
                    <td style="padding: 8px; border-top: 1px solid #dddddd"><%= Order.change_currency_pretty(order.total_price) %></td>
                    <td style="padding: 8px; border-top: 1px solid #dddddd"><%= number_with_delimiter(order.quantity) %></td>
                    <td style="padding: 8px; border-top: 1px solid #dddddd"><%= Order.change_currency_pretty(order.total_price * order.quantity) %></td>
                    <% if sub_idx == 0 %>
                    <td style="padding: 8px; border-top: 1px solid #dddddd" rowspan="<%=cnt%>">
                      <%= Order.change_currency_pretty(order_group.get_delivery_fee) %>
                    </td>
                    <td style="padding: 8px; border-top: 1px solid #dddddd" rowspan="<%=cnt%>">
                      <%= Order.change_currency_pretty(order_group.final_order_price) %>
                    </td>
                    <% end %>
                  </tr>
                  <% end %>
                  <% end %>

                  <tr>
                    <td style="padding: 8px; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; border-right: 1px solid #dddddd" rowspan="2">[<%= t('mypage_carry')%>]</td>
                    <td style="padding: 8px; border-top: 1PX solid #dddddd; border-right: 1px solid #dddddd"><%= @purchase.recipient %></td>
                    <td style="padding: 8px; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd" colspan="2"><%= @user.country %></td>
                    <td style="padding: 8px; border-top: 1px solid #dddddd" colspan="2"><%= @purchase.phonenumber %></td>
                  </tr>
                    <td style="padding: 8px; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;">[<%= @purchase.postcode %>]</td>
                    <td style="padding: 8px; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;" colspan="4">
                      <%= address = "" %>
                      <% if ["US", "CA"].include? @user.country %>
                      <% address += @purchase.state %>
                      <% end %>
                      <% if !["KR"].include? @user.country %>
                      <% address += @purchase.city %>
                      <%= address %>
                      <% end %>
                    </td>
                  <tr>
                  </tr>
                  <% if @purchase.pay_option == Purchase::PAY_TYPE_VBANK %>
                  <tr>
                    <td style="border-bottom: 1px solid #dddddd;">[무통장 입금 계좌 정보]</td>
                    <td style="padding: 8px; border-bottom: 1px solid #dddddd;" colspan="5">
                      <%=@purchase.pay_type%>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <div style="padding-top:50px;"></div>
            </td>
          </tr>

<!--           <tr>
            <td>
              <br>
            </td>
          </tr>
          <tr>
            <td align="center" bgcolor="ffffff" style="padding-left:20px; padding-right:20px; -moz-box-shadow: 0px 1.5px 1.3px #b4b4b4; -webkit-box-shadow: 0px 1.5px 1/3px #b4b4b4; box-shadow: 0px 1.5px 1.3px #b4b4b4;">
              <p style="text-align:left; margin-top:12px; margin-bottom:5px; font-weight:bold; font-size:18px;">인기 상품</h4>
              <div id="hr_line" style="height:2px; border-top: 1px solid #b4b4b4"></div>
              <div style="height:14px;"></div>
              <div style="width:178px; display: inline-block; float:left; margin-right:11px; padding-bottom:20px; -moz-box-shadow: 0px 1.5px 1.3px #b4b4b4; -webkit-box-shadow: 0px 1.5px 1/3px #b4b4b4; box-shadow: 0px 1.5px 1.3px #b4b4b4;">
                <% if ["CN", "KR", "JP"].include? @user.country %>
                <% country_code = "ko" if @user.country == "KR" %>
                <% country_code = "ja" if @user.country == "JP" %>
                <% country_code = "cn" if @user.country == "CN" %>
                <% else %>
                <% country_code = "en" %>
                <% end %>

                <div>
                  <a href="http://www.oppabox.com/item/jaejoong_2" target="_blank"><img src="http://www.oppabox.com/images/items/jaejoong/jaejoong_2/jaejoong_2.jpg" width="100%"></a>
                </div>
                <div style="margin-top:7px; text-align:left; margin-left:11px;">
                  <a href="http://www.oppabox.com/item/jaejoong_2" target="_blank"><p style="font-size:13px;">2차 김재중박스</p></a>
                </div>
              </div>
              <div style="width:178px; display: inline-block; float:left; margin-right:11px; padding-bottom:20px; -moz-box-shadow: 0px 1.5px 1.3px #b4b4b4; -webkit-box-shadow: 0px 1.5px 1/3px #b4b4b4; box-shadow: 0px 1.5px 1.3px #b4b4b4;">
                <div>
                  <a href="http://www.oppabox.com/item/jaejoong_2" target="_blank"><img src="http://www.oppabox.com/images/items/jaejoong/jaejoong_2/jaejoong_2.jpg" width="100%"></a>
                </div>
                <div style="margin-top:7px; text-align:left; margin-left:11px;">
                  <a href="http://www.oppabox.com/item/jaejoong_2" target="_blank"><p style="font-size:13px;">2차 김재중박스</p></a>
                </div>
              </div>
              <div style="width:178px; display: inline-block; float:left; padding-bottom:20px; -moz-box-shadow: 0px 1.5px 1.3px #b4b4b4; -webkit-box-shadow: 0px 1.5px 1/3px #b4b4b4; box-shadow: 0px 1.5px 1.3px #b4b4b4;">
                <div>
                  <a href="http://www.oppabox.com/item/jaejoong_2" target="_blank"><img src="http://www.oppabox.com/images/items/jaejoong/jaejoong_2/jaejoong_2.jpg" width="100%"></a>
                </div>
                <div style="margin-top:7px; text-align:left; margin-left:11px;">
                  <a href="http://www.oppabox.com/item/jaejoong_2" target="_blank"><p style="font-size:13px;">2차 김재중박스</p></a>
                </div>
              </div>
              <div style="clear: both; width: 0; margin: 0; padding: 0; line-height: 0; overflow: hidden;"></div>
              <div style="height:25px;"></div>
            </td>
          </tr> -->

        </table>
      </td>
    </tr>
  </table>
</body>
