<div class="container-fluid">
  <div class="col-md-6">
    <div class="well">
      <%= form_for @box, url: '/admin/boxes', html: { method: :post, multipart: true, class: "form-horizontal", id: 'box_form' } do |f| %>
        <% if @box.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@box.errors.count, "error") %> prohibited
              this box from being saved:
            </h2>
            <ul>
              <% @box.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%# hidden %>
        <%= f.hidden_field :parent, { value: params[:box_selected] } %>

        <div class="form-group">
          <%= f.label :display_name, { class: 'col-sm-2 control-label' } %>
          <div class="col-sm-9">
            <%= f.text_field :display_name %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :top_image, { class: 'col-sm-2 control-label' } %>
          <div class="col-sm-9">
            <%= f.file_field :top_image, { 'multiple' => true } %>
            <div id="top_image">
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :image, { class: 'col-sm-2 control-label' } %>
          <div class="col-sm-9">
            <%= f.file_field :image, { 'multiple' => true } %>
            <div id="normal_image">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-9">
            <div class="checkbox">
              <%= f.label :opened do %>
                <%= f.check_box :opened %>오픈 여부
              <% end %>
            </div>
          </div>
        </div>

        <div class="">
          <%= f.submit '제출', { type: 'reset', class: 'btn btn-primary', id: 'box_form_submit' } %>
        </div>

      <% end # form %>
    </div><!-- ./well -->
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#box_form_submit').click(function(e){
      e.preventDefault();
      $('#box_form').submit();
    });
    $('#box_image').change(function(){
      $.image_preview($(this), $('#normal_image'), 300);
    });
    $('#box_top_image').change(function(){
      $.image_preview($(this), $('#top_image'), 300);
    });
  });
</script>