<fieldset class="inputs">
	<legend><span>Item<%= item_id %>'s Option<%= id %> info</span></legend>
	<ol>
		<li class="string input required stringish" id="box_item<%= item_id %>_option<%= id %>_title_input">
			<label class="label" for="box_item<%= item_id %>_option<%= id %>_title">Title<abbr title="required">*</abbr></label>
			<input id="box_item<%= item_id %>_option<%= id %>_title" name="box[item<%= item_id %>][option<%= id %>][title]" type="text">
		</li>
		<li class="radio input required" id="box_opened_input">
			<fieldset class="choices">
				<legend class="label">
					<label>Type<abbr title="required">*</abbr></label>
				</legend>
				<ol class="choices-group">
					<li class="choice">
						<label for="box_item<%= item_id %>_option<%= id %>_type_1">
							<input checked="checked" id="box_item<%= item_id %>_option<%= id %>_type_1" name="box[item<%= item_id %>][option<%= id %>][type]" type="radio" value="1">
							Normal(type 1)
						</label>
					</li>
					<li class="choice">
						<label for="box_item<%= item_id %>_option<%= id %>_type_2">
							<input id="box_item<%= item_id %>_option<%= id %>_type_2" name="box[item<%= item_id %>][option<%= id %>][type]" type="radio" value="2">
							String(type 2)
						</label>
					</li>
				</ol>
			</fieldset>
		</li>
		<hr>
		<li><label class="label">(Only for type 2)</label></li>
		<li class="string input required stringish" id="box_item<%= item_id %>_option<%= id %>_max_length_input">
			<label class="label" for="box_item<%= item_id %>_option<%= id %>_max_length">Max Length<abbr title="required">*</abbr></label>
			<input id="box_item<%= item_id %>_option<%= id %>_max_length" name="box[item<%= item_id %>][option<%= id %>][max_length]" type="text" value="20">
		</li>
		<li class="boolean input required" id="box_item<%= item_id %>_option<%= id %>_english_only_input">
			<input name="box[item<%= item_id %>][option<%= id %>][english_only]" type="hidden" value="0">
			<label class="" for="box_item<%= item_id %>_option<%= id %>_english_only">
				<input checked="checked" id="box_item<%= item_id %>_option<%= id %>_english_only" name="box[item<%= item_id %>][option<%= id %>][english_only]" type="checkbox" value="1">English Only<abbr title="required">*</abbr>
			</label>
		</li>
		<hr>
		<li><label class="label">(Only for type 1)</label></li>
		
		<li><%= link_to "Add Option Item", "#item#{item_id}_option#{id}_add_option_item", { :class => "btn-normal add_option_item", 'data-counter' => 0, 'data-item-id' => item_id, 'data-option-id' => id, :id => "item#{item_id}_option#{id}_add_option_item" } %></li>

		<ol id="item<%= item_id %>_option<%= id %>_option_item_panel"></ol>

	</ol>
</fieldset>

<script>
</script>


