<fieldset class="inputs">
	<legend><span>Item<%= id %> info</span></legend>
	<ol>
		<li class="file input required" id="box_item<%= id %>_image_input">
			<label class="label" for="box_item<%= id %>_image">Image</label>
			<input id="box_item<%= id %>_image" name="box[item<%= id %>][image]" type="file">
		</li>
		<li class="string input required stringish" id="box_item<%= id %>_path_input">
			<label class="label" for="box_item<%= id %>_path">Path<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_path" name="box[item<%= id %>][path]" type="text">
		</li>
		<li class="string input required stringish" id="box_item<%= id %>_original_price_input">
			<label class="label" for="box_item<%= id %>_original_price">Original price<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_original_price" name="box[item<%= id %>][original_price]" type="text">
		</li> 
		<li class="string input required stringish" id="box_item<%= id %>_sale_price_input">
			<label class="label" for="box_item<%= id %>_sale_price">Sale price<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_sale_price" name="box[item<%= id %>][sale_price]" type="text">
		</li> 
		<li class="string input required stringish" id="box_item<%= id %>_quantity_input">
			<label class="label" for="box_item<%= id %>_quantity">Quantity<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_quantity" name="box[item<%= id %>][quantity]" type="text" value="-1">
		</li> 
		<li class="string input required stringish" id="box_item<%= id %>_weight_input">
			<label class="label" for="box_item<%= id %>_weight">Weight<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_weight" name="box[item<%= id %>][weight]" type="text">
		</li> 
		<li class="string input required stringish" id="box_item<%= id %>_buy_limit_input">
			<label class="label" for="box_item<%= id %>_buy_limit">Buy limit<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_buy_limit" name="box[item<%= id %>][buy_limit]" type="text" value="20">
		</li>
		<li class="boolean input required" id="box_item<%= id %>_show_original_price_input">
			<input name="box[item<%= id %>][show_original_price]" type="hidden" value="0">
			<label class="" for="box_item<%= id %>_show_original_price">
				<input id="box_item<%= id %>_show_original_price" name="box[item<%= id %>][show_original_price]" type="checkbox" value="1">Show original price<abbr title="required">*</abbr>
			</label>
		</li>
		<li class="boolean input required" id="box_item<%= id %>_limited_input">
			<input name="box[item<%= id %>][limited]" type="hidden" value="0">
			<label class="" for="box_item<%= id %>_limited">
				<input id="box_item<%= id %>_limited" name="box[item<%= id %>][limited]" type="checkbox" value="1">Limited<abbr title="required">*</abbr>
			</label>
		</li> 
		<li class="boolean input required" id="box_item<%= id %>_periodic_input">
			<input name="box[item<%= id %>][periodic]" type="hidden" value="0">
			<label class="" for="box_item<%= id %>_periodic">
				<input id="box_item<%= id %>_periodic" name="box[item<%= id %>][periodic]" type="checkbox" value="1">Periodic<abbr title="required">*</abbr>
			</label>
		</li> 
		<li class="boolean input required" id="box_item<%= id %>_opened_input">
			<input name="box[item<%= id %>][opened]" type="hidden" value="0">
			<label class="" for="box_item<%= id %>_opened">
				<input checked="checked" id="box_item<%= id %>_opened" name="box[item<%= id %>][opened]" type="checkbox" value="1">Opened<abbr title="required">*</abbr>
			</label>
		</li>
		<li class="string input required stringish" id="box_item<%= id %>_ko_input">
			<label class="label" for="box_item<%= id %>_ko">Korean Name<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_ko" name="box[item<%= id %>][ko]" type="text">
		</li>
		<li class="string input required stringish" id="box_item<%= id %>_en_input">
			<label class="label" for="box_item<%= id %>_en">English Name<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_en" name="box[item<%= id %>][en]" type="text">
		</li>
		<li class="string input required stringish" id="box_item<%= id %>_cn_input">
			<label class="label" for="box_item<%= id %>_cn">Chinese Name<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_cn" name="box[item<%= id %>][cn]" type="text">
		</li>
		<li class="string input required stringish" id="box_item<%= id %>_ja_input">
			<label class="label" for="box_item<%= id %>_ja">Japanese Name<abbr title="required">*</abbr></label>
			<input id="box_item<%= id %>_ja" name="box[item<%= id %>][ja]" type="text">
		</li>
		<li><%= link_to "Add Option", "#item_#{id}_add_option", { :class => "btn-normal add_option", 'data-counter' => 0, 'data-item-id' => id, :id => "item_#{id}_add_option" } %></li>
	</ol>

	<div id="item<%= id %>_option_panel">
	</div>
</fieldset>