<div class="row">
  <div class="col-md-4 col-xs-6">
    <label><%= t('user_detail_recipient') %></label>
    <input name="userrealname" id="signup_name" value="<%=current_user.name || ""%>" type="text" class="form-control" placeholder="<%= t('user_detail_recipient_name') %>" required autofocus>
  </div>
</div>
<div style="height:20px;">&nbsp;</div>
<div class="row">
  <div class="col-md-6 col-xs-6">
    <label><%= t('signup_step3_phonenumber') %></label>
    <input name="phonenumber" id="signup_phonenumber" value="<%=current_user.phonenumber || ""%>" type="text" class="form-control" placeholder="<%= t('signup_step3_phonenumber') %>" required>
  </div>
  <div class="col-md-6 col-xs-6">
    <label><%= t('signup_step3_postcode') %></label>
    <input name="postcode" id="signup_postcode" value="<%=current_user.postcode || ""%>" type="text" class="form-control" placeholder="<%= t('signup_step3_postcode') %>" required>
    <% if ["KR"].include? current_user.country %>
      <script src="http://dmaps.daum.net/map_js_init/postcode.js"></script>
      <a href="#" onclick="expandDaumPostcode();return false;"><p class="text-right">우편번호 찾기</p></a>
    <% end %>
  </div>
</div>
<% if !["KR"].include? current_user.country %>
<div style="height:20px;">&nbsp;</div>
<% else %>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div id="wrap" style="display:none;border:1px solid;height:300px;margin:5px 0;position:relative;-webkit-overflow-scrolling:touch;">
      <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px" onclick="foldDaumPostcode()" alt="exit">
    </div>
  </div>
</div>
<% end %>
<hr>
<label><%= t('signup_step3_nationality') %></label>
<select name="country" id="signup_country" class="form-control" disabled>
  <% COUNTRIES.sort_by { |x, y| x }.each do |m, n| %>
    <% selected = "" %>
    <% country = current_user.country || "KR"%>
    <% if n.to_s == country %>
      <% selected = %Q[selected="selected"] %>
    <% end %>
    <option value="<%= n %>" <%= selected %>><%= m %></option>
  <% end %>
</select>
<div style="height:20px;">&nbsp;</div>
<div class="row">
  <% if ["US", "CA"].include? current_user.country %>
  <div class="col-md-6 col-xs-6">
    <label><%= t('signup_step3_state') %></label>
    <input name="state" id="signup_state" type="text" value="<%=current_user.state || ""%>" class="form-control" placeholder="<%= t('signup_step3_state_compact') %>" required>
  </div>
  <% end %>
  <% if !["KR"].include? current_user.country %>
  <div class="col-md-6 col-xs-6">
    <label><%= t('signup_step3_city') %></label>
    <input name="city" id="signup_city" type="text" value="<%=current_user.city || ""%>" class="form-control" placeholder="<%= t('signup_step3_city_compact') %>" required>
  </div>
  <% end %>
</div>
<% if !["KR"].include? current_user.country %>
<div style="height:20px;">&nbsp;</div>
<% end %>
<div class="row">
  <div class="col-md-12 col-xs-12">
  <% if !["KR"].include? current_user.country %>
    <label><%= t('signup_step3_rest_address') %></label>
  <% else %>
    <label><%= t('signup_step3_address') %></label>
  <% end %>
    <input name="address" id="signup_address" type="text" value="<%=current_user.address || ""%>" class="form-control" placeholder="<%= t('signup_step3_address') %>" required>
  </div>
</div>
<% if ["KR"].include? current_user.country %>
<script>
    var element = document.getElementById('wrap');
    function foldDaumPostcode() {
        element.style.display = 'none';
    }

    function expandDaumPostcode() {
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                document.getElementById('signup_postcode').value = data.postcode1 + "-" + data.postcode2;
                var addr = data.address.replace(/(\s|^)\(.+\)$|\S+~\S+/g, '');
                document.getElementById('signup_address').value = addr;
                element.style.display = 'none';
                document.body.scrollTop = currentScroll;
            },
            onresize : function(size) {
                element.style.height = size.height + "px";
            },
            width : '100%',
            height : '100%'
        }).embed(element);
        element.style.display = 'block';
    }
</script>
<% end %>
