<div class="container">
  <h3 class="text-center form-signin-heading"><%= t('signup_add_email') %></h3>
  <hr>
  <div style="height:20px;">&nbsp;</div>
  <h4 class="text-center"><%= t('signup_add_email_description') %></h4>
  <div style="height:20px;">&nbsp;</div>
  <div class="form-signin" role="form">

    <label><%= t('login_email_address') %></label>
    <input id="signup_email" type="email" class="form-control user-info-input" required autofocus value="<%=@email%>">
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('signup_step3_nationality') %></label>
    <select name="country" id="signup_country" class="form-control">
      <% COUNTRIES.sort_by { |x, y| x }.each do |m, n| %>
        <% selected = "" %>
        <% if n.to_s == "KR" %>
          <% selected = %Q[selected="selected"] %>
        <% end %>
        <option value="<%= n %>" <%= selected %>><%= m %></option>
      <% end %>
    </select>
    <p class="text-right"><%= t('signup_step3_cannot_fix') %></p>
    <div style="height:20px;">&nbsp;</div>
    <button class="btn btn-default btn-block user-info-submit" id="signup_add_email"><%= t('signup_add_email_complete') %></button>
  </div>
</div>
