<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('menu_login') %></h2>
  <hr>
  <form class="form-signin" role="form">
    <label><%= t('login_email_address') %></label>
    <input type="email" class="form-control" placeholder="<%= t('login_email_address') %>" required autofocus>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('login_password')%></label>
    <input type="password" class="form-control" placeholder="<%= t('login_password') %>" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="signin_button"><%= t('menu_login') %></button>
  </form>
</div> <!-- /container -->
