<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('menu_login') %></h2>
  <hr>
  <div class="form-signin" role="form">
    <label><%= t('login_email_address') %></label>
    <input id="signin_email" type="email" class="form-control" required autofocus>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('login_password')%></label>
    <input id="signin_password" type="password" class="form-control" required>
    <a href="/home/reset_password"><p class="text-right" style="font-size:11px;"><%= t('forget_password') %></p></a>
    <button class="btn btn-lg btn-primary btn-block" id="signin_button"><%= t('menu_login') %></button>
  </div>
</div> <!-- /container -->
