<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('menu_renew_password') %></h2>
  <hr>
  <div class="form-signin" role="form">
    <label><%= t('renew_password') %></label>
    <input id="renew_password" type="password" class="form-control user-info-input" required autofocus>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('renew_password_confirm')%></label>
    <input id="renew_password_confirm" type="password" class="form-control user-info-input" required>
    <button class="btn btn-lg btn-primary btn-block top-margin user-info-submit" id="renew_password_button"><%= t('renew_password_button') %></button>
  </div>
</div> <!-- /container -->
<%=javascript_include_tag "home"%>
