<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('menu_reset_password') %></h2>
  <hr>
  <div class="form-signin" role="form">
    <p><%= t('reset_description') %></p>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('login_email_address') %></label>
    <input id="reset_password_email" type="email" class="form-control user-info-input" required autofocus>
    <button class="btn btn-lg btn-primary btn-block top-margin user-info-submit" id="reset_password_button"><%= t('reset_password_button') %></button>
  </div>
</div> <!-- /container -->
<%=javascript_include_tag "home"%>
