<div class="container">
  <h3 class="text-center form-signin-heading"><%= t('signup_choice') %></h3>
  <hr>
  <div class="form-signin" role="form">
    <label><%= t('signup_social') %></label>
    <div class="text-center" style="margin-top:10px;">
      <a href="#"><img src="<%= asset_path 'fb_button.png' %>" style="margin:5px;" width="130"></a>
      <a href="#"><img src="<%= asset_path 'tw_button.png' %>" style="margin:5px;" width="130"></a>
    </div>
    <hr>
    <label><%= t('signup_email') %></label>
    <a href="/home/step2"><button class="btn btn-lg btn-default btn-block user-info-submit" id="signin_sel">Sign up with Email</button></a>
  </div>
</div>
