<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('signup_step1') %></h2>
  <hr>
<div class="jumbotron agreement">
	<% 0.upto(112) do |i| %>
		<p>
			<%= 
				x=i.to_s
				privacy_policy = "privacy_policy_"+x
				t(privacy_policy) 
			%>
		</p>
	<%end%>
</div>
<br>
<div class="jumbotron agreement">
	<% 1.upto(134) do |i| %>
		<p>
			<%= 
				x=i.to_s
				user_agreement = "user_agreement_"+x
				t(user_agreement) 
			%>
		</p>
	<%end%>
</div>
<div class="text-center" style="margin-top:50px;margin-bottom:50px;">
  <button type="button" class="btn btn-lg btn-default"><%= t('toa_disaggreement') %></button>
  &nbsp; &nbsp; &nbsp;
  <a href="/home/step2"><button type="button" class="btn btn-lg btn-primary">&nbsp;<%= t('toa_aggreement')%>&nbsp;</button></a>
</div>
</div> <!-- /container -->
