<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('signup_step2') %></h2>
  <hr>
  <div class="form-signin" role="form" >
    <label><%= t('login_email_address') %></label>
    <input id="signup_email" type="email" class="form-control user-info-input" required autofocus>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('signup_step3_nationality') %></label>
    <select name="country" id="signup_country" class="form-control">
      <% COUNTRIES.sort_by { |x, y| x }.each do |m, n| %>
        <% selected = "" %>
        <% if n.to_s == "KR" %>
          <% selected = %Q[selected="selected"] %>
        <% end %>
        <option value="<%= n %>" <%= selected %>><%= m %></option>
      <% end %>
    </select>
    <p class="text-right"><%= t('signup_step3_cannot_fix') %></p>
    <hr>
    <label><%= t('login_password') %></label>
    <input id="signup_password" type="password" class="form-control user-info-input" required>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('login_password_confirm') %></label>
    <input id="signup_password_confirm" type="password" class="form-control user-info-input" required>
    <div style="height:20px;">&nbsp;</div>
    <button class="btn btn-lg btn-primary btn-block user-info-submit" id="signup_step2_button"><%= t('menu_signup') %></button>
  </div>
</div>
