<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('signup_step2') %></h2>
  <hr>
  <form class="form-signin" role="form">
    <input type="email" class="form-control form_divide" placeholder="<%= t('login_email_address') %>" required autofocus>
    <input type="password" class="form-control form_divide" placeholder="<%= t('login_password') %>" required>
    <input type="password" class="form-control" placeholder="<%= t('login_password_confirm') %>" required>
    <button class="btn btn-lg btn-primary btn-block" id="signin_button" type="submit"><%= t('menu_signup') %></button>
  </form>
</div>
