<div class="container">
  <div class="row text-center welcome_oppabox">
    <div style="margin-bottom:20px">
      <img src="<%= asset_path 'oppabox.png'%>" class="img-responsive img-center" width="100">
    </div>
      <p style="font-size:25px;"><%=t('signup_success')%></p>
      <br>
      <p style="font-size:20px; font-weight:bold;">Global Shopping Mall, OPPABOX</p>
      <p style="font-size:20px; font-weight:bold;">Bringing happiness to you everyday</p>
      <p style="font-size:20px; font-weight:bold;">Thank you.</p>
  </div>
  <hr>
  <div style="height:10px;"></div>
  <h4 class="text-center"><%= t('signup_additional') %></h4>
  <div class="form-signin" role="form" style="max-width:480px;">
    <%=render partial: "/home/user_detail_info"%>
    <div class="text-center" style="margin-top:30px;margin-bottom:50px;">
      <a href="/"><button type="button" class="btn btn-lg btn-default"><%= t('signup_step3_incomplete') %></button></a>
      &nbsp; &nbsp; &nbsp;
      <button id="signup_step3_button" type="button" class="btn btn-lg btn-primary">&nbsp;<%= t('signup_step3_complete')%>&nbsp;</button>
    </div>
  </div>
</div>
