<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('signup_step3') %></h2>
  <hr>
  <form class="form-signin" role="form" style="max-width:480px;">
    <label><%= t('signup_step3_nationality') %></label>
    <select class="form-control" style="width:350px;" autofocus>
      <% COUNTRIES.sort_by { |x, y| x }.each do |m, n| %>
        <% selected = "" %>
        <% if n.to_s == "KR" %>
          <% selected = %Q[selected="selected"] %>
        <% end %>
        <option value="<%= n %>" <%= selected %>><%= m %></option>
      <% end %>
    </select>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('signup_step3_phonenumber') %></label>
    <input style="width:150px" type="text" class="form-control" placeholder="<%= t('login_password_confirm') %>" required>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('signup_step3_postcode') %></label>
    <input style="width:150px;" type="text" class="form-control" placeholder="<%= t('login_email_address') %>" required>
    <div style="height:20px;">&nbsp;</div>
    <label><%= t('signup_step3_address') %></label>
    <input type="text" class="form-control" placeholder="<%= t('login_email_address') %>" required>
    <div class="text-center" style="margin-top:30px;margin-bottom:50px;">
      <a href="/"><button type="button" class="btn btn-lg btn-default"><%= t('signup_step3_incomplete') %></button></a>
      &nbsp; &nbsp; &nbsp;
      <a href="/"><button type="button" class="btn btn-lg btn-primary">&nbsp;<%= t('signup_step3_complete')%>&nbsp;</button></a>
    </div>
  </form>
</div>

