<table class="table">
  <thead>
    <tr class="active">
      <th><%=t('basket_list_product_name')%></th>
      <th><%=t('basket_list_price')%></th>
      <th>-</th>
      <th>-</th>
    </tr>
  </thead>
  <tbody>
  <% if @baskets.empty? %>
    <tr class="text-center list_cell">
      <td colspan="4">
        <br><%= t('basket_list_empty') %><br>
        <br><a href="/"><%= t('more_shopping') %></a><br>
      </td>
    </tr>
  <% else %>
    <% @baskets.each do |b|%>
    <tr class="list_cell">
      <td><a href="/item/<%=b.item.path%>"><%=b.item.display_name%></a></td>
      <td><%=Order.change_currency(b.item.sale_price)%></td>
      <td><a href="/item/<%=b.item.path%>"><%= t('basket_list_order') %></a></td>
      <td><a href="#" onclick="del_from_basket(<%=b.item.id%>);"><%= t('basket_list_del') %></a></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
