<div class="well">
  <div class="row" style="margin-bottom:10px;font-weight:bold;font-size:16px;">
    <div class="col-md-4 col-xs-4 right-border"><p class="text-center">상품명</p></div>
    <div class="col-md-2 col-xs-2 right-border"><p class="text-center">판매가</p></div>
    <div class="col-md-2 col-xs-2 right-border"><p class="text-center">수량</p></div>
    <div class="col-md-2 col-xs-2 right-border"><p class="text-center">총 금액</p></div>
    <div class="col-md-2 col-xs-2"><p class="text-center">-</p></div>
  </div>
  <% if @orders.empty? %>
    <div class="row">
      <div class="col-md-12 col-xs-12"><p class="text-center">주문 내역이 없습니다</p></div>
    </div>
  <% else %>
    <% @orders.each_with_index do |o,index|%>
    <div class="row">
      <% item = o.item %>
      <div class="col-md-4 col-xs-4"><p class="text-center"><a href="/item/<%= item.path-%>"><%= item.display_name %></a></p></div>
      <div class="col-md-2 col-xs-2"><p class="text-center"><%= item.sale_price %></p></div>
      <div class="col-md-2 col-xs-2"><p class="text-center"><input type="text" class="o_quantity" value="<%= o.quantity %>" onblur="total_Price(<%=index%>,<%= item.sale_price %>); " data-id="<%=o.item_id%>" ></p></div>
      <div class="col-md-2 col-xs-2" ><p class="text-center" ><%= item.sale_price * o.quantity %></p></div>
      <div class="col-md-2 col-xs-2"><p class="text-center"><a href="#" onclick="move_to_basket(<%=item.id%>);">취소</a></div>
    </div>
    <% end %>
  <% end %>
</div>
