<div class="well">
  <div class="row" style="margin-bottom:10px;font-weight:bold;font-size:16px;">
    <div class="col-md-4 col-xs-4 right-border"><p class="text-center"><%= t('order_confirm_product_name') %></p></div>
    <div class="col-md-2 col-xs-2 right-border"><p class="text-center"><%= t('order_confirm_price') %></p></div>
    <div class="col-md-2 col-xs-2 right-border"><p class="text-center"><%= t('order_confirm_quantity') %></p></div>
    <div class="col-md-2 col-xs-2 right-border"><p class="text-center"><%= t('order_confirm_sum') %></p></div>
    <div class="col-md-2 col-xs-2"><p class="text-center">-</p></div>
  </div>
  <% if @orders.empty? %>
    <div class="row">
      <div class="col-md-12 col-xs-12"><p class="text-center"><%= t('order_confirm_order_empty') %></p></div>
    </div>
  <% else %>
    <% @orders.each do |o|%>
    <div class="row">
      <% item = o.item %>
      <div class="col-md-4 col-xs-4"><p class="text-center display_link"><a href="/item/<%= item.path-%>"><%= item.display_name %></a></p></div>
      <div class="col-md-2 col-xs-2"><p class="text-center"><%= number_with_delimiter(item.sale_price) %></p></div>
      <div class="col-md-2 col-xs-2"><p class="text-center">
       <a href="#" onclick="reorder_quantity('minus', <%= o.id -%>);return false;"><button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></a>
     &nbsp;&nbsp;<%= o.quantity %>&nbsp;&nbsp;
       <a href="#" onclick="reorder_quantity('plus', <%= o.id -%>);return false;"><button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a>
      
      </p></div>
      <div class="col-md-2 col-xs-2"><p class="text-center" ><%= number_with_delimiter(item.sale_price * o.quantity) %></p></div>
      <div class="col-md-2 col-xs-2"><p class="text-center delete_link"><a href="#" onclick="move_to_basket(<%=item.id%>);"><%= t('order_confirm_cancel') %></a></div>
    </div>
    <% end %>
  <% end %>
</div>
