<div style="height:20px;"></div>
<div class="row">
  <div class="col-xs-6 col-md-6"> <p class="text-right" style="margin-right:20px"><%= t('total_payment_product_price') %></p></div>
  <div class="col-xs-6 col-md-6"> <p class="text-left" style="margin-left:20px"><%= Order.change_currency(@all_price) -%></p> </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-6"> <p class="text-right" style="margin-right:20px"><%= t('total_payment_delivery_price') %></p></div>
  <div class="col-xs-6 col-md-6"> <p class="text-left" style="margin-left:20px"><%= Order.change_currency(@delivery_fee) -%></p></div>
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3" style="height:20px;border-bottom:1px solid black;margin-bottom:20px;"></div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-6">
    <p class="text-right" style="font-weight:bold;font-size:17px;margin-right:20px;"><%= t('total_payment_billing_price') %></p> 
  </div>
  <div class="col-xs-6 col-md-6"> 
    <p class="text-left" style="font-weight:bold;font-size:17px;margin-left:20px;"><%= Order.change_currency(@all_price + @delivery_fee) -%></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-3"> 
    <div id="krw_payment">
    <a href="/pay/korean_payment"><button type="submit" class="btn btn-danger" style="width:100%"><%= t('total_payment_success') %></button></a>
    </div>
  </div>
</div>
