<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row product_box" >
        <% if @orders.empty? %>
          <div style="height:80px;"></div>
          <h3 class="text-center"><%= t('total_payment_error1') %></h3>
          <div style="height:30px;"></div>
          <hr>
          <div style="height:30px;"></div>
          <h3 class="text-center"><%= t('total_payment_error2') %></h3>
          <div style="height:40px;"></div>
        <% else %>
          <%= form_tag("/pay/billing", name: "fm", method: "post") do %>
          <% callback_url = request.protocol + request.host_with_port + "/pay/callback"%>
          <input type="hidden" name="purchase_id" value="<%=@orders.first.purchase.id%>">
          <input type="hidden" name="allat_order_no" value="<%=@orders.first.purchase.id%>">
          <input type="hidden" name="allat_product_cd" value="<%=@product_cds%>">
          <input type="hidden" name="allat_product_nm" value="<%=@product_nms%>">
          <input type="hidden" name="allat_recp_nm" value="<%=current_user.name%>">
          <input type="hidden" name="allat_recp_addr" value="<%=current_user.address%>">
          <input type="hidden" name="allat_shop_id" id="at_shop_id" value="oppabox">
          <input type="hidden" name="allat_pmember_id" value="<%=current_user.id%>">
          <input type="hidden" name="allat_buyer_nm" value="<%=current_user.name%>">
          <input type="hidden" name="allat_enc_data" value="">
          <input type="hidden" name="allat_test_yn" value="N">
          <input type="hidden" name="allat_real_yn" value="Y">
          <input type="hidden" name="allat_product_img" value="http://">
          <input type="hidden" name="allat_amt" id="allat_amt" value="<%=@all_price + @delivery_fee%>">
          <input type="hidden" name="allat_callback_url" value="<%= callback_url %>">
          <input type="hidden" name="allat_xid" value="">
          <input type="hidden" name="allat_eci" value="">
          <input type="hidden" name="allat_cavv" value="">
          <div style="height:80px;"></div>
          <h3 class="text-center"><%= t('total_payment_inprogress1') %></h3>
          <div style="height:30px;"></div>
          <hr>
          <div style="height:30px;"></div>
          <h3 class="text-center"><%= t('total_payment_inprogress2') %></h3>
          <div style="height:40px;"></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%#---- 수동 설치 설명 Layer를 사용하지 않으시려면, 아래 스크립트를 삭제 해 주시기 바랍니다 ----%>
<% if !@orders.empty? %>
<script language=JavaScript charset='euc-kr' src="https://tx.allatpay.com/common/AllatPayRE.js"></script>
<script language=Javascript>initCheckOB();</script>
<script language=Javascript>
function billing(dfm) {
  $("input[name$='allat_buyer_nm']").val($("input[name$='allat_recp_nm']").val());
  ftn_approval(dfm);
}
function ftn_approval(dfm) {
  var ret;
  ret = visible_Approval(dfm); <%#Function 내부에서 submit을 하게 되어있음%>
  if( ret.substring(0,4)!="0000" && ret.substring(0,4)!="9999"){
    <%# 오류 코드 : 0001~9998 의 오류에 대해서 적절한 처리를 해주시기 바랍니다.%>
    alert(ret.substring(4,ret.length));     <%# Message 가져오기 %>
  }
  if( ret.substring(0,4)=="9999" ){
    <%# 오류 코드 : 9999 의 오류에 대해서 적절한 처리를 해주시기 바랍니다. %>
    alert(ret.substring(8,ret.length));     <%# Message 가져오기 %>
  }
}
billing(document.fm);
</script>
<% end %>
