<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row product_box" >
        <h4><%= t('order_confirm') %></h4>
        <%= render :partial => 'order_confirm' %>
        <h4><%= t('address_confirm') %></h4>
        <%= render :partial => 'address_confirm' %>
        <h4><%= t('total_payment') %></h4>
        <%= render :partial => 'total_payment' %>
        <div style="height:40px;"></div>
        <h4><%= t('basket_list') %></h4>
        <%= render :partial => 'basket_list' %>
      </div>
    </div>
  </div>
</div>
