<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row product_box" >
        <%= form_tag("/pay/billing", name: "fm", method: "post") do %>
        <% if @orders.empty? %>
          <input type="hidden" name="purchase_id" value="">
          <input type="hidden" name="allat_order_no" value="">
          <input type="hidden" name="allat_product_cd" value="">
          <input type="hidden" name="allat_product_nm" value="">
        <% else %>
          <input type="hidden" name="purchase_id" value="<%=@orders.first.purchase.id%>">
          <input type="hidden" name="allat_order_no" value="<%=@orders.first.purchase.id%>">
          <input type="hidden" name="allat_product_cd" value="<%=@product_cds%>">
          <input type="hidden" name="allat_product_nm" value="<%=@product_nms%>">
        <% end %>
        <input type="hidden" name="allat_shop_id" value="oppabox">
        <input type="hidden" name="allat_pmember_id" value="<%=current_user.id%>">
        <input type="hidden" name="allat_buyer_nm" value="<%=current_user.name%>">
        <input type="hidden" name="allat_enc_data" value="">
        <input type="hidden" name="allat_test_yn" value="Y">
        <input type="hidden" name="allat_real_yn" value="Y">
        <input type="hidden" name="allat_product_img" value="http://">
        <input type="hidden" name="allat_amt" value="<%=@all_price+5000%>">
        <h4>주문확인</h4>
        <%= render :partial => 'order_confirm' %>
        <h4>배송 정보 확인</h4>
        <%= render :partial => 'address_confirm' %>
        <h4>총 결제 비용 확인</h4>
        <%= render :partial => 'total_payment' %>
        <div style="height:40px;"></div>
        <h4>장바구니</h4>
        <%= render :partial => 'basket_list' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!---- 수동 설치 설명 Layer를 사용하지 않으시려면, 아래 스크립트를 삭제 해 주시기 바랍니다 ---->
<script language=JavaScript charset='euc-kr' src="https://tx.allatpay.com/common/AllatPayRE.js"></script>
<script language=Javascript>initCheckOB();</script>
<script language=Javascript>
function ftn_approval(dfm) {
  var ret;
  ret = visible_Approval(dfm);//Function 내부에서 submit을 하게 되어있음.
  if( ret.substring(0,4)!="0000" && ret.substring(0,4)!="9999"){
    // 오류 코드 : 0001~9998 의 오류에 대해서 적절한 처리를 해주시기 바랍니다.
    alert(ret.substring(4,ret.length));     // Message 가져오기
  }
  if( ret.substring(0,4)=="9999" ){
    // 오류 코드 : 9999 의 오류에 대해서 적절한 처리를 해주시기 바랍니다.
    alert(ret.substring(8,ret.length));     // Message 가져오기
  }
}
</script>
