<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center success_thanks"><%=t('paid_thanks')%></h3>
      <hr>
      <p class="text-right"><%=t('paid_datetime')%> : <span id="datetime"></span></p>
      <table class="table">
        <thead>
          <tr class="active">
            <th class="text-center"><%=t('order_number')%></th>
            <th class="text-center"><%=t('item_display_name')%></th>
            <th class="text-center"><%=t('carry_price')%></th>
            <th class="text-center"><%=t('carry_quantity')%></th>
            <th class="text-center"><%=t('carry_total_price')%></th>
            <th class="text-center"><%=t('paid_sum')%></th>
          </tr>
        </thead>
        <tbody>
          <% @purchase.orders.where(deleted: false).each_with_index do |order, index|%>
            <tr class="list_cell">

              <% if index == 0 %>
                <td rowspan="<%=@purchase.orders.where(deleted: false).count%>" class="text-center"><%=order.purchase.reference_number%></td>
              <% end %>

              <% periodic = if order.item.periodic then "(" + t("periodoc_#{order.order_periodic}month") + ")" else nil end %>
              <% options = Array.new(1){periodic} %>
              <% order.order_option_items.each do |x| %>
                <% options << x.option_item.name if  x.option.option_type == 1 %>
                <% options << x.option_text if  x.option.option_type == 2 %>
              <% end %>
              <% options.compact! %>

              <td><a href="/item/<%=order.item.path%>"><%= order.item.display_name %></a>&nbsp;<span><%= options.join(", ") %></span></td>
              <td class="text-center"><%= Order.change_currency(order.total_price) %></td>
              <td class="text-center"><%= number_with_delimiter(order.quantity) %></td>
              <td class="text-center"><%= Order.change_currency(order.total_price * order.quantity) %></td>
              <% if index == 0 %>
                <td rowspan="<%=@purchase.orders.where(deleted: false).count%>" class="text-center">
                  <%= Order.change_currency(@purchase.amt) %><br>
                  [<%=t('paid_delivery_charge')%> : <%=0%>]
                </td>
              <% end %>
            </tr>
          <% end %>

          <% address_full = Array.new %>
          <% address_full << [t('country_comment'), current_user.country].join(" : ") %>
          <% address_full << [t('postcode_comment'), @purchase.postcode].join(" : ") %>
          <% if ["US", "CA"].include? current_user.country %>
            <% address_full << [t('state_comment'), @purchase.state].join(" : ") %>
          <% end %>
          <% if !["KR"].include? current_user.country %>
            <% address_full << [t('city_comment'), @purchase.city].join(" : ") %>
          <% end %>
          <% address_full << [t('address_comment'), @purchase.address].join(" : ") %>
          <% address_full << [t('phone_comment'), @purchase.phonenumber].join(" : ") %>
          <% address_full << [t('user_detail_recipient'), @purchase.recipient].join(" : ") %>

          <tr class="list_cell">
            <td></td>
            <td colspan="6">
              <p>[<%= t('mypage_carry')%>]</p>
              <% address_full.each do |a| %>
                <p><%=a%></p>
              <% end %>
            </td>
          </tr>
          <% unless @purchase.pay_type == nil %>
          <tr class="list_cell">
            <td></td>
            <td colspan="6">
              <p>[무통장 입금 계좌 정보]</p>
              <p><%=@purchase.pay_type%></p>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <p class="text-center">
        <a href="/"><button class="btn btn-primary" style="margin-right:10px;"><%=t('go_to_home')%></button></a>
        <a href="/mypage"><button class="btn btn-danger"><%=t('go_to_mypage')%></button></a>
      </p>
    </div>
  </div>
</div>
<script>
  $(function() {
      var date = new Date("<%=@purchase.updated_at.strftime('%m/%d/%Y %H:%M:%S UTC')%>")
      $("#datetime").html(date.toString());
  })
</script>
