<html>
<head>
<script language="JavaScript">
<!--
  function loadForm(){
    if(opener && opener.document.regForm){
      var frm = opener.document.regForm;
      frm.rescode.value = "<%= @rescode %>";
      frm.resmsg.value = "<%= @resmsg %>";
      frm.authcode.value = "<%= @authcode %>";
      frm.cardco.value = "<%= @cardco %>";
      frm.target = "";
      <% if @rescode == "0000" %>
        frm.action = "/pay/success/<%=@ref||0%>";
      <% else %>
        frm.action = "/pay/error";
      <% end %>
      frm.submit();
    }
    self.close();
  }
//-->
</script>
</head>
<body onload="javascript:loadForm();">
</body>
</html>
