<!-- order description -->  
<div class="row">
  <p>
    <span style="font-size:20px"><b><%= @order.item.display_name %></b></span>&nbsp;
    <span>[<%= @options.join(", ") %>]</span>
  </p>
  <p> <%= t('purchase_date') %>: &nbsp;
   <%= @order.purchase.approval_datetime.nil? ? '' : @order.purchase.approval_datetime.strftime("%F") %>
  </p>
</div>
<input type="hidden" id="order_id" value="<%= @order.id %>">
<div class="row">
  <h4><b><%= t('select_quantity') %></b></h4>
  <table class="table">
    <thead>
      <tr class="active">
        <th class="text-center"><%= t("product_info") %></th>
        <th class="text-center"><%=t('carry_quantity')%></th>
        <th class="text-center"><%= t("cancel_quantity") %></th>
        <th class="text-center"><%= t("paid_sum") %></th>
        <th class="text-center"><%=t("carry_total_price")%></th>
        <th class="text-center"><%=t('shipping')%></th>
        <th class="text-center"><%= t("cancel_amount") %></th>
      </tr>
    </thead>
    <tbody>
      <% orders = nil %>
      <% og = OrderGroup.grouping(@order.purchase.orders.valid) %>
      <% og.each do |order_group| %>
        <% if order_group.ids.include? @order.id %>
          <% orders = order_group %>
        <% end %>
      <% end %>
      <% cnt = orders.orders.length %>
      <% orders.orders.each_with_index do |order, idx| %>
        <tr>
          <td class="text-center"><%= order.item.display_name %></td>
          <td class="text-center"><%= order.quantity %></td>
          <td class="text-center">
            <% if order.id == @order.id %>
              <% opt = Array.new %>
              <% for i in 0..order.quantity do %>
                <% opt[i] = i %>
              <% end %>
              <%= select_tag "cancel_quantity", options_for_select(opt, 0), :autofocus => 'true' %>
            <% else %>
              <% if order.has_cancel? %>
                <%= order.cancel.quantity %>
              <% else %>
                0
              <% end %>
            <% end %>
          </td>
          <% if idx == 0 %>
            <td class="text-center" rowspan="<%=cnt%>"><%= Order.change_currency(orders.final_order_price) %></td>
            <td class="text-center cancel_sum" rowspan="<%=cnt%>"><%= Order.change_currency(orders.product_price(true)) %></td>
            <td class="text-center" rowspan="<%=cnt%>">
              <span style="white-space:normal" class="badge badge-default">
                <%= t(order.shipping.name) %>
              </span>
              <br>
              <span class="cancel_shipping"><%= Order.change_currency(orders.get_delivery_fee(true)) %></span>
            </td>
          <% end %>
          
          <% if idx == 0 %>
            <td class="text-center cancel_diff" rowspan="<%=cnt%>">
              <%= Order.change_currency(orders.final_order_price - orders.final_order_price(true)) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <h4><b><%= t('details') %></b></h4>
  <table class="table">
    <tbody>
      <tr>
        <th class="active"><%= t('reason_for_cancel') %></th>
        <td>
          <div class="form-group">
            <%= select_tag "cancel_reason", options_for_select(Cancel::REASONS.invert.keys.collect { |x| t(x) }, 0 ), { :class => 'form-control input-sm' } %>
          </div>
          <div class="form-group">
            <%= text_area_tag "cancel_reason_details", nil, size: "100x5", class: 'form-control' ,placeholder: t('cancel_reason_plh') %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h4><b><%= t('refund_info') %></b></h4>
  <table class="table">
    <tbody>
      <tr>
        <th class="active"><%= t('cancel_amount') %></th>
        <td class="cancel_diff" id="cancel_actual_amount"><%= Order.change_currency(orders.final_order_price - orders.final_order_price(true)) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row text-center">
  <button class="btn btn-lg btn-default" onclick="history.back()"><%= t('request_back') %></button>
  <button class="btn btn-lg btn-danger" id="cancel_request_button"><%= t('type_cancel') %></button>
</div>



<script>

$('#cancel_quantity').change(function(){
  amount = $(this).val();
  $.ajax({
    url: "/mypage/recalculate_cancel/",
    type: "POST",
    dataType: "json",
    data: {
      order_id: <%= @order.id %>,
      amount: amount
    },
    success: function(data) {
      $('.cancel_diff').html(data["diff"]);
      $('.cancel_sum').html(data["price"]);
      $('.cancel_shipping').html(data["shipping"]);
    }
  })
})
</script>