<!-- order description -->  
<div class="row">
  <p>
    <span style="font-size:20px"><b><%= @order.item.display_name %></b></span>&nbsp;
    <span>[<%= @options.join(", ") %>]</span>
  </p>
  <p> <%= t('purchase_date') %>: &nbsp;
   <%= @order.purchase.approval_datetime.nil? ? '' : @order.purchase.approval_datetime.strftime("%F") %>
  </p>
</div>
<input type="hidden" id="order_id" value="<%= @order.id %>">
<div class="row">
  <h4><b><%= t('select_quantity') %></b></h4>
  <table class="table">
    <thead>
      <tr class="active">
        <th class="text-center"><%= t("product_info") %></th>
        <th class="text-center"><%= t("total_payment_billing_price") %></th>
        <th class="text-center"><%= t("cancel_quantity") %></th>
        <th class="text-center"><%= t("cancel_amount") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= @order.item.display_name + ' / #' + @order.quantity.to_s %></td>
        <td class="text-center"><%= Order.change_currency(@order.final_order_price) %></td>
        <td class="text-center">
          <% opt = Array.new %>
          <% for i in 0..@order.quantity do %>
            <% opt[i] = i %>
          <% end %>
          <%= select_tag "cancel_quantity", options_for_select(opt, 0), :autofocus => 'true' %>
        </td>
        <td class="text-center cancel_amount"><%= Order.change_currency(0) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h4><b><%= t('details') %></b></h4>
  <table class="table">
    <tbody>
      <tr>
        <th class="active"><%= t('reason_for_cancel') %></th>
        <td>
          <div class="form-group">
            <%= select_tag "cancel_reason", options_for_select(Cancel::REASONS.invert.keys.collect { |x| t(x) }, 0 ), { :class => 'form-control input-sm' } %>
          </div>
          <div class="form-group">
            <%= text_area_tag "cancel_reason_details", nil, size: "100x5", class: 'form-control' ,placeholder: t('cancel_reason_plh') %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h4><b><%= t('refund_info') %></b></h4>
  <table class="table">
    <tbody>
      <tr>
        <th class="active"><%= t('cancel_amount') %></th>
        <td class="cancel_amount" id="cancel_actual_amount"><%= Order.change_currency(0) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row text-center">
  <button class="btn btn-lg btn-default" onclick="history.back()"><%= t('request_back') %></button>
  <button class="btn btn-lg btn-danger" id="cancel_request_button"><%= t('type_cancel') %></button>
</div>



<script>

$('#cancel_quantity').change(function(){
  amount = $(this).val();
  $.ajax({
    url: "/mypage/recalculate_cancel/",
    type: "POST",
    dataType: "text",
    data: {
      order_id: <%= @order.id %>,
      amount: amount
    },
    success: function(data) {
      $('.cancel_amount').html(data);
    }
  })
})
</script>