<!-- order description -->  
<div class="row">
  <p>
    <span style="font-size:20px"><b><%= @order.item.display_name %></b></span>&nbsp;
    <span>[<%= @options.join(", ") %>]</span>
  </p>
  <p> <%= t('purchase_date') %>: &nbsp;
   <%= @order.purchase.approval_datetime.nil? ? '' : @order.purchase.approval_datetime.strftime("%F") %>
  </p>
</div>
<input type="hidden" id="order_id" value="<%= @order.id %>">
<div class="row">
  <h4><b><%= t('select_quantity') %></b></h4>
  <table class="table">
    <thead>
      <tr class="active">
        <th class="text-center"><%= t('product_info') %></th>
        <th class="text-center"><%= t('total_payment_billing_price') %></th>
        <th class="text-center"><%= t('change_quantity') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= @order.item.display_name + ' / #' + @order.quantity.to_s %></td>
        <td class="text-center"><%= Order.change_currency(@order.total_price * @order.quantity) %></td>
        <td class="text-center">
          <% opt = Array.new %>
          <% for i in 0..@order.quantity do %>
            <% opt[i] = i %>
          <% end %>
          <%= select_tag "change_quantity", options_for_select(opt, 0), :autofocus => 'true' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h4><b><%= t('details') %></b></h4>
  <table class="table">
    <tbody>
      <tr>
        <th class="active"><%= t('reason_for_cancel') %></th>
        <td>
          <div class="form-group">
            <%= select_tag "change_reason", options_for_select(Change::REASONS.invert.keys.collect { |x| t(x) }, 0 ), { :class => 'form-control input-sm' } %>
          </div>
          <div class="form-group">
            <%= text_area_tag "change_reason_details", nil, size: "100x5", class: 'form-control' ,placeholder: t('change_reason_plh') %>
          </div>
        </td>
      </tr>
      <tr>
        <th class="active"><%= t('collect_address') %></th>
        <td>
          <p><%= t('collect_txt1') %>
            <small><%= t('collect_txt2') %></small>
          </p>
          <%=render partial: "/home/user_detail_info_modify" %>

        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h4><b><%= t('shipping') %></b></h4>
  <table class="table">
    <tbody>
      <tr>
        <th class="active"><%= t('shipping_our_duty') %></th>
        <td><%= Order.change_currency(0) %></td>
      </tr>
      <tr>
        <th class="active"><%= t('shipping_customer_duty') %></th>
        <td>
          <%= Order.change_currency((fee = @order.get_delivery_fee * 2) == 0 ? 5400 : fee ) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row text-center">
  <button class="btn btn-lg btn-default" onclick="history.back()"><%= t('request_back') %></button>
  <button class="btn btn-lg btn-danger" id="change_request_button" name="commit"><%= t('type_change') %></button>
</div>


<script>
// Recipient -> Sender
$(document).ready(function(){
  $('#recipient_label').html("<%= t('js_sender') %>")
})
</script>