<div class="col-md-2 ">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <h3><%= t('mypage_title') %></h3>
    </li>
    <% active = Hash.new %>
    <% active[params[:action]] = "active" %>

    <li class="<%=active["info"]%>"><a href="/mypage/info"><%=t('mypage_info')%></a></li>
    <li class="<%=active["list"]%>"><a href="/mypage/list"><%=t('mypage_list')%></a></li>
    <li class="<%=active["carry"]%>"><a href="/mypage/carry"><%=t('mypage_carry')%></a></li>
    <li class="<%=active["carry"]%>"><a href="/mypage/reset_password"><%=t('mypage_reset_password')%></a></li>
  </ul>
</div>
