<div class="container">
  <div class="row">
    <%= render :partial => "left_list" %>
    <div class="col-sm-10">
      <h4><%= t('signup_step3') %></h4>
      <hr>

      <div class="form-signin" role="form" style="max-width:480px;">
        <label><%= t('signup_step3_nationality') %></label>
        <select id="signup_country" class="form-control" style="width:350px;" autofocus>
          <% COUNTRIES.sort_by { |x, y| x }.each do |m, n| %>
            <% selected = "" %>
            <% if n.to_s == "KR" %>
              <% selected = %Q[selected="selected"] %>
            <% end %>
            <option value="<%= n %>" <%= selected %>><%= m %></option>
          <% end %>
        </select>
        <div style="height:20px;">&nbsp;</div>
        <label><%= t('signup_step3_phonenumber') %></label>
        <input id="signup_phonenumber" style="width:150px" type="text" class="form-control" placeholder="<%= t('signup_step3_phonenumber') %>" required>
        <div style="height:20px;">&nbsp;</div>
        <label><%= t('signup_step3_postcode') %></label>
        <input id="signup_postcode" style="width:150px;" type="text" class="form-control" placeholder="<%= t('signup_step3_postcode') %>" required>
        <div style="height:20px;">&nbsp;</div>
        <label><%= t('signup_step3_address') %></label>
        <input id="signup_address" type="text" class="form-control" placeholder="<%= t('signup_step3_address') %>" required>
        <div class="text-center" style="margin-top:30px;margin-bottom:50px;">
          <a href="/"><button type="button" class="btn btn-lg btn-default"><%= t('signup_step3_incomplete') %></button></a>
          &nbsp; &nbsp; &nbsp;
          <button id="signup_step3_button" type="button" class="btn btn-lg btn-primary">&nbsp;<%= t('signup_step3_complete')%>&nbsp;</button>
        </div>
      </div>
    </div>
  </div>
</div>
