<div class="container" >
  <div class="row box_wrap">
    <%= render :partial => '/mypage/left_list' %>
    <div class="col-md-10">
      <hr>
      <% current_user.purchases.each do |purchase| %>
      <table cellspacing="0" cellpadding="0" width="725"class="table table-bordered th-center">
        <colgroup>
        <col width="76">
        <col width="184">
        <col width="100">
        <col width="80">
        <col width="40">
        <col width="80">
        <col width="80">
        <col width="85">
      </colgroup>
      <tbody >
        <tr class="active" >
          <th><%=t('order_number')%></th>
          <th><%=t('item_display_name')%></th>
          <th><%=t('carry_number')%></th>
          <th><%=t('carry_price')%></th>
          <th><%=t('carry_quantity')%></th>
          <th><%=t('carry_total_price')%></th>
          <th><%=t('order_state')%></th>
          <th><%=t('carry_check')%></th>
        </tr>
        <% purchase.orders.each do |order|%>
        <tr>
        <% if current_user.purchases.empty? %>
          <td colspan="7" style="text-align:center;"><%= t('mypage_no_order') %></td>
        <% end %>
          <td></td>
          <td><a href="/item/<%=order.item.path%>"><%= order.item.display_name %></a></td>
          <td></td>
          <td></td>
          <td><%= order.quantity %></td>
          <td></td>
          <td><%= order.purchase.status %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
</div>
