<div class="container" >
  <div class="row box_wrap">
    <%= render :partial => '/mypage/left_list' %>
    <div class="col-md-10">
      <hr>
      <table class="table">
        <thead>
          <tr class="active">
            <th class="text-center"><%=t('order_state') + '(' + t('order_number') + ')'%></th>
            <th class="text-center"><%=t('item_display_name')%></th>
            <th class="text-center"><%=t('carry_price')%></th>
            <th class="text-center"><%=t('carry_quantity')%></th>
            <th class="text-center"><%=t('carry_total_price')%></th>
            <th class="text-center"><%='New Request'%></th>
          </tr>
        </thead>
        <tbody>
          <% if (current_user.purchases.size <= 0) or (current_user.purchases.first.orders.valid.count <= 0) %>
            <tr class="list_cell">
              <td class="text-center" colspan="6">
                <br><%=t('empty_order')%><br>
                <br><a href="/"><%= t('more_shopping') %></a><br>
              </td>
            </tr>
          <% else %>

          <% current_user.purchases.each do |purchase| %>
            <% purchase.orders.valid.each_with_index do |order, index|%>
              <tr class="list_cell">

                <% if index == 0 %>
                  <td rowspan="<%=purchase.orders.valid.count+1%>" class="text-center">
                    <% if order.purchase.status == Purchase::STATUS_ORDERING %>
                      <a href="/pay/order"><%= t("#{Purchase::STATUSES[order.purchase.status]}") %></a>
                    <% else %>
                      <%= t("#{Purchase::STATUSES[order.purchase.status]}") %>
                      (<%=order.purchase.reference_number%>)
                    <% end %>
                  </td>
                <% end %>

                <% periodic = if order.item.periodic then "(" + t("periodoc_#{order.order_periodic}month") + ")" else nil end %>
                <% options = Array.new(1){periodic} %>
                <% order.order_option_items.each do |x| %>
                  <% options << x.option_item.name if  x.option.option_type == 1 %>
                  <% options << x.option_text if  x.option.option_type == 2 %>
                <% end %>
                <% options.compact! %>

                <td><a href="/item/<%=order.item.path%>"><%= order.item.display_name %></a>&nbsp;<span><%= options.join(", ") %></span></td>
                <td class="text-center"><%= Order.change_currency(order.total_price) %></td>
                <td class="text-center"><%= number_with_delimiter(order.quantity) %></td>
                <td class="text-center"><%= Order.change_currency(order.total_price * order.quantity) %></td>
                <td class="text-center">
                  <% if order.has_request? %>
                    <% if order.has_return? %>
                      Return <%= Return::STATUSES[order.return.status] %>
                    <% elsif order.has_cancel? %>
                      Cancel <%= Cancel::STATUSES[order.cancel.status] %>
                    <% else %>
                      Change <%= Change::STATUSES[order.change.status] %>
                    <% end %>
                  <% else %>
                    <%= link_to "New", mypage_new_request_path(:order_id => order.id) %>
                  <% end %>
                </td>

              </tr>
            <% end %>

            <% address_full = Array.new %>
            <% address_full << [t('country_comment'), current_user.country].join(" : ") %>
            <% address_full << [t('postcode_comment'), purchase.postcode].join(" : ") %>
            <% if ["US", "CA"].include? current_user.country %>
              <% address_full << [t('state_comment'), purchase.state].join(" : ") %>
            <% end %>
            <% if !["KR"].include? current_user.country %>
              <% address_full << [t('city_comment'), purchase.city].join(" : ") %>
            <% end %>
            <% address_full << [t('address_comment'), purchase.address].join(" : ") %>
            <% address_full << [t('phone_comment'), purchase.phonenumber].join(" : ") %>
            <% address_full << [t('user_detail_recipient'), purchase.recipient].join(" : ") %>

            <tr class="list_cell">
              <td colspan="5">
                [<%= t('mypage_carry')%>]&nbsp;<%= address_full.join(", ") %>
              <% if purchase.status == Purchase::STATUS_PENDING %>
                <br>[무통장 입금정보] <%=purchase.pay_type%>
              <% end %>
              </td>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
