<div class="container">
  <div class="row">
    <%= render :partial => "left_list" %>
    <div class="col-md-10 col-xs-10">
      <hr>
      <div class="form-signin" role="form">
        <label><%= t('current_password') %></label>
        <input id="user_current_password" type="password" class="form-control user-info-input" required autofocus>
        <div style="height:20px;">&nbsp;</div>

        <label><%= t('renew_password') %></label>
        <input id="user_reset_password" type="password" class="form-control user-info-input" required autofocus>
        <div style="height:20px;">&nbsp;</div>
        <label><%= t('renew_password_confirm')%></label>
        <input id="user_reset_password_confirm" type="password" class="form-control user-info-input" required>
        <button class="btn btn-lg btn-info btn-block top-margin user-info-submit" id="user_reset_password_button"><%= t('renew_password_button') %></button>
      </div>
    </div>
  </div>
</div> <!-- /container -->
