<div class="container">
  <div class="row">
    <%= render :partial => "left_list" %>
    <div class="col-md-10">
    	<h3><%= t('return_request') %></h3>
      <hr>
      
      <ul class="foot_navi nav nav-tabs nav-justified" role="tablist">
			  <li class="active">
			  	<a href="#T_body" style="margin:0;" data-toggle="tab"><%= t('return_form') %></a>
			  </li>
  			<li>
			    <a href="#T_info" style="margin:0;" data-toggle="tab"><%= t('return_manual') %></a>
			  </li>
  		</ul>

  		<div id="myTabContent" class="tab-content foot_info_box">
	      <div class="tab-pane fade in active" id="T_body" style="margin-right:auto; margin-left:auto; padding-left:30px; padding-right:30px">
	      	<!-- order description -->	
		      <div class="row">
		      	<p>
		      		<span style="font-size:20px"><b><%= @order.item.display_name %></b></span>&nbsp;
		      		<span>[<%= @options.join(", ") %>]</span>
		      	</p>
		      	<p> <%= t('return_purchase_date') %>: &nbsp;
		      	 <%= @order.purchase.approval_ymdhms.nil? ? '' : Date.parse(@order.purchase.approval_ymdhms).to_s %>
		      	</p>
		      </div>
		      <input type="hidden" id="order_id" value="<%= @order.id %>">
		      <div class="row">
		      	<h4><b><%= t('return_sel_quantity') %></b></h4>
		      	<table class="table">
		      		<thead>
		      			<tr class="active">
			      			<th class="text-center"><%= t('return_product_info') %></th>
			      			<th class="text-center"><%= t('return_payments') %></th>
			      			<th class="text-center"><%= t('return_quantity') %></th>
			      			<th class="text-center"><%= t('return_amount') %></th>
			      		</tr>
		      		</thead>
		      		<tbody>
		      			<tr>
		      				<td class="text-center"><%= @order.item.display_name + ' / #' + @order.quantity.to_s %></td>
		      				<td class="text-center"><%= Order.change_currency(@order.total_price * @order.quantity) %></td>
		      				<td class="text-center">
		      					<% opt = Array.new %>
		      					<% for i in 0..@order.quantity do %>
		      						<% opt[i] = i %>
		      					<% end %>
		      					<%= select_tag "return_quantity", options_for_select(opt, 0)  %>
		      				</td>
		      				<td class="text-center return_amount"><%= Order.change_currency(0) %></td>
		      			</tr>
		      		</tbody>
		      	</table>
		      </div>

		      <div class="row">
		      	<h4><b><%= t('return_details') %></b></h4>
		      	<table class="table">
		      		<tbody>
		      			<tr>
		      				<th class="active"><%= t('return_reason') %></th>
		      				<td>
		      					<p><%= select_tag "return_reason", options_for_select(t(Return::REASONS.invert.keys), 0) %></p>
		      					<p><%= text_area_tag "return_reason_details", nil, size: "100x5", placeholder: t('return_reason_phr') %></p>
		      				</td>
		      			</tr>
		      			<!-- <tr>
		      				<th class="active">Have you already sent the products back?</th>
		      				<td>
		      					<%= label_tag 'return_sent_no' do %>
		      						<%= radio_button_tag 'return_sent', false, true, { id: 'return_sent_no' } %>
		      						No, not yet.
	      						<% end %>
		      					<%= label_tag 'return_sent_no' do %>
		      						<%= radio_button_tag 'return_sent', true, false, { id: 'return_sent_yes' } %>
		      						Yes, I've sent them.
	      						<% end %>
	      					</td>
		      			</tr> -->
		      			<tr>
		      				<th class="active"><%= t('return_col_address') %></th>
		      				<td>
		      					<p><%= t('return_col_txt1') %>
		      						<small><%= t('return_col_txt2') %></small>
		      					</p>
		      					<%=render partial: "/home/user_detail_info_modify" %>

		      				</td>
		      			</tr>
		      		</tbody>
		      	</table>
		      </div>

		      <div class="row">
		      	<h4><b><%= t('return_refund') %></b></h4>
		      	<table class="table">
		      		<tbody>
		      			<tr>
		      				<th class="active"><%= t('return_cc_amount') %></th>
		      				<td class="return_amount"><%= Order.change_currency(0) %></td>
		      			</tr>
		      			<tr>
		      				<th class="active"><%= t('return_shipping') %></th>
		      				<td id="return_shipping"><%= Order.change_currency(0) %></td>
		      			</tr>
		      			<tr>
		      				<th class="active"><%= t('return_refund_amount') %></th>
		      				<td id="return_actual_amount"><%= Order.change_currency(0) %></td>
		      			</tr>
		      		</tbody>
		      	</table>
		      </div>

		      <div class="row text-center">
		      	<button class="btn btn-lg btn-default" onclick="history.back()"><%= t('return_back') %></button>
		      	<button class="btn btn-lg btn-danger" id="return_request_button"><%= t('return_request') %></button>
		      </div>

	    	</div>
  			<%= render :partial => "/item/refund" %>
	    </div>

    </div>
  </div>
</div>

<script>
// Recipient -> Sender
$(document).ready(function(){
	$('#recipient_label').html("<%= t('return_js_sender') %>")
})

$('#return_quantity').change(function(){
	amount = $(this).val()
	price = <%= @order.total_price %>
	$.ajax({
    url: "/mypage/change_currency/",
    type: "POST",
    dataType:"JSON",
    data: {
      amount: amount * price
    },
    success: function(data) {
      $('.return_amount').html(data['cancel_amount'])
      $('#return_shipping').html(data['shipping'])
      $('#return_actual_amount').html(data['actual_amount'])
    }
  })
})
</script>