<footer>
  <%# 상단 %>
  <div class="us_info">
    <div class="container">
      <div class="row">
        <%# Company Info %>
        <div class="col-md-3">
          <div class="headline">
            <h2>Company Info</h2>
          </div>
          <div>
            <ul class="company_ul">
              <li>
                <p><%= t('company_name') %> </p>
              </li>
              <li>
                <p><%= t('ceo') %>/<%= t('company_privacy') %></p>
              </li>
              <% if I18n.locale == :ko %>
              <li>
                <p><%= t('registration_number') %></p>
              </li>
              <li>
                <p><%= t('market_number') %></p>
              </li>
              <% end %>
            </ul>
          </div>
        </div>

        <%# Contact Us %>
        <div class="col-md-3">
          <div class="headline">
            <h2>Contact Us</h2>
          </div>
          <div>
            <ul class="company_ul">
              <li><p>Call. +82-2-794-5558</p></li>
              <li><p>Email. privacy@oppabox.com</p></li>
              <li>
                <p>Address.<br><%= t('company_address') %></p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="headline">
            <h2>Supplier</h2>
          </div>
          <div>
            <ul>
              <li>
                <img src="<%= asset_path 'allat.png' %>" width="60">
                &nbsp;
                <img src="<%= asset_path 'ups.gif' %>" width="40">
              </li>
            </ul>
          </div>
        </div>

        <%# Follow Us %>
        <div class="col-md-3">
          <div class="headline">
            <h2>Follow Us</h2>
          </div>
          <div>
            <ul>
              <li>
                  <a class="btn btn-social-icon btn-facebook" href="http://goo.gl/g4zQ51" target="sub"><i class="fa fa-facebook"></i></a>
                  <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/oppabox" target="sub"><i class="fa fa-instagram"></i></a>
                  <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/oppabox" target="sub"><i class="fa fa-twitter"></i></a>
                  <a href="https://story.kakao.com/ch/oppabox" target="sub"><img src="<%= asset_path 'kakao.png'%>"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 하단 %>
  <div class="container company_box">
    <div class="row">
      <p class="text-center"><%= t('company_copyright').html_safe %>.</p>
    </div>
  </div>

</footer>
