<footer>
<p class="text-center"><%= t('company_name') %> | <%= t('ceo') %></p>
<% if I18n.locale == :ko %>
<p class="text-center"><%= t('registration_number') %></p>
<% end %>
<p class="text-center"><%= t('company_address') %></p>
<p class="text-center"><%= t('company_privacy') %></p>
<p class="text-center"><%= t('company_copyright').html_safe %></p>
</footer>
