<footer>
  <!-- <p class="text-center">
    <%= t('company_name') %> | <%= t('ceo') %><%= t('company_privacy') %>
    <% if I18n.locale == :ko %>
    <%= t('registration_number') %>
    <% end %>
    <%= t('company_address') %>
  </p> -->

  <%# 상단 %>
  <div class="about_info">
    <div class="container">
      <div class="row">

        <%# ABOUT US %>
        <div class="col-md-4">
          <h3 class="about_us">Company</h3>
          <div>
            <ul>
              <li>

              </li>
              
              <li>

              </li>

              <li>
              
              </li>
            </ul>
          </div>
        </div>

        <%#%>
        <div class="col-md-4">
          <h3 class="about_us">Ccontact Us</h3>
          <div>
            <ul>
              <li>

              </li>
              
              <li>

              </li>

              <li>
              
              </li>
            </ul>
          </div>
        </div>

        <%# CHECK THIS OUT %>
        <div class="col-md-4">
          <h3 class="about_us">FOLLOW oppabox</h3>
          <div>
            <ul>
              <li>

              </li>
              
              <li>

              </li>

              <li>
              
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 하단 %>
  <div class="container company_box">
    <div class="row">
      <p class="company_txt text-left">
        <%= t('company_name') %> | <%= t('ceo') %><%= t('company_privacy') %>
        <% if I18n.locale == :ko %>
        <%= t('registration_number') %>
        <% end %>
        <%= t('company_address') %>
      </p>
      <p class="copyright_txt text-left"><%= t('company_copyright').html_safe %>.</p>
      <span class=""
    </div>
  </div>

</footer>