<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <button type ="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag "oppabox_web_logo.png" %></a>
      </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left nav-oppabox">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('left_menu') %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% Box.all.each do |b| %>
              <% if b.items.empty? %>
                <li><a href="/box/<%=b.path%>"><%= b.display_name%></a></li>
              <% else %>
                <li class="dropdown-submenu"><a href="/box/<%=b.path%>"><%= b.display_name %></a>
                <ul class="dropdown-menu">
                  <% b.items.each do |i| %>
                  <li><a href="/item/<%= i.path %>"><%= i.display_name%></a></li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" onclick="document.cookie='locale=ko';location.reload();return false;">한국어</a></li>
            <li><a href="#" onclick="document.cookie='locale=en';location.reload();return false;">English</a></li>
            <li><a href="#" onclick="document.cookie='locale=cn';location.reload();return false;">中国語</a></li>
            <li><a href="#" onclick="document.cookie='locale=ja';location.reload();return false;">日本語</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right nav-oppabox">
        <%if user_signed_in?%>
          <li><a href="/mypage/"><%= t('menu_mypage') %></a></li>
          <li><a href="/mypage/basket"><%= t('menu_basket') %></a></li>
          <li><%= link_to t('menu_logout'), destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><a href="/home/login"><%= t('menu_login') %></a></li>
          <li><a href="/home/step1"><%= t('menu_signup') %></a></li>
        <%end%>

      </ul>
    </div>
  </div>
</nav>
