<!DOCTYPE html>
<html>
<head>
<title>oppabox</title>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= favicon_link_tag 'favicon.ico' %>
<link href="/css/bootstrap_theme3.min.css" media="all" rel="stylesheet" />
<link href="/css/bootstrap-social.css" media="all" rel="stylesheet" />
<link href="/css/font-awesome.min.css" media="all" rel="stylesheet" />
<%= javascript_include_tag 'application' %>
<script src="/js/bootstrap.min.js"></script>
<%= csrf_meta_tags %>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta property="wb:webmaster" content="5258e1e8a8650820" />
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://www.4d-secure.com:15000/" : "http://www.4d-secure.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "mwa_siteno.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">set_site_number("1849705C64");</script>
</head>

<body>
  <%= render :partial => 'layouts/header' %>
  <% if !flash.empty? %>
  <div class="row" id="flash_message" style="display:none;">
    <div class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3">
      <p class="text-center"><button style="width:80%" type="button" class="btn btn-danger"><%= flash[:alert] %></button></p>
    </div>
  </div>
  <% end %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' %>

  <% if !flash.empty? %>
  <script type="text/javascript">
  $(function(){
    $("#flash_message").slideDown(function() {
      setTimeout(function() {
        $("#flash_message").slideUp();
      }, 2000);
    });
  });
  </script>
  <% end %>
</body>
</html>
