<!DOCTYPE html>
<html>
<head>
<title>oppabox</title>
<%= stylesheet_link_tag    'application', media: 'all' %>
<link href="/css/bootstrap_theme3.min.css" media="all" rel="stylesheet" />
<link href="/css/bootstrap-social.css" media="all" rel="stylesheet" />
<link href="/css/font-awesome.min.css" media="all" rel="stylesheet" />
<%= javascript_include_tag 'application' %>
<script src="/js/bootstrap.min.js"></script>
<%= csrf_meta_tags %>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta property="wb:webmaster" content="5258e1e8a8650820" />
</head>

<body>
  <%= render :partial => 'layouts/header' %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' %>
</body>
</html>
